/* Styling Components */

* {
  font-family: sans-serif;
  margin: 0 0;
  padding: 0 0;
}

body {
  background-color: #868e96;
}

.l-container {
  width: 30%;
  height: auto;
  margin: auto;
  padding: 10px 10px;
  background-color: #212529;
}

.c-displayBox {
  background-color: #495057;
  /* height: 56px; */
}

.c-displayBox__text {
  font-size: 42px;
  color: #fff;
  text-align: right;
  padding: 10px;
}

.c-btn {
  background-color: #343a40;
  color: #fff;
  font-size: 42px;
  height: 72px;
}

/* CSS Grid */

.l-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 10px;
  column-gap: 10px;
}

.c-displayBox {
  grid-column: 1 / -1;
}
.c-btn--division {
  grid-row: 2;
  grid-column: -2;
}

.c-btn--multiplication {
  grid-row: 3;
  grid-column: -2;
}

.c-btn--subtraction {
  grid-row: 4;
  grid-column: -2;
}

.c-btn--sum {
  grid-row: 5;
  grid-column: -2;
}

.c-btn--result {
  grid-row: 6;
  grid-column: -2;
}

.c-btn--0 {
  grid-row: 6;
  grid-column: 1 / span 2;
}
